{% extends "todo/base.html" %}

{% block main %}
    {% load static %}
    <div id="content">
           <!--<img src="pictures/ozadje.png" alt="ozadje">-->
            <div id="list"></div>
            <div id="things">
                <h1>THINGS TO DO:</h1>
                <button type="button" onclick="showFormList(); hidetasks();" >Add new task:</button><br>
                <ul>
                    {% for task in tasks_today %}
                        <li><form method="POST" action="{% url 'todo:complete' task.id %}">
                                {% csrf_token %}
                                <input type="checkbox" name="compl" value="{{ task.name }}" onchange="submit()"
                                {% if task.completed == True %}checked {% endif %}>
                            </form>
                            <a href="{% url 'todo:details' task.id %}" >{{ task.name }}</a>
                        </li>
                {% endfor %}
                </ul>

            </div>

        </div>



            <div id="formlist"></div>
            <div id="formtext">
                <button type="button" onclick="hideFormList()">Back</button>
                <h1>TASK:</h1>
                <label for="category">Category:</label>
                <select id="category" name="category" onchange="showForm(this)">
                    <option value="select">Select:</option>
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                    <option value="personal">Personal</option>
                    <option value="travel">Travel</option>
                    <option value="shopping">Shopping</option>
                    <option value="birthday">Birthday</option>
                    <option value="cooking">Cooking</option>
                </select>
            </div>

            <div id="formhome">
                <form method='POST' action="" class="hform">
                    {% csrf_token %}
                    {{ formh.as_p }}
                    <button type="submit" name="addhome" >Add Task</button>
                </form>

            </div>

            <div id="formwork">
                <form method='POST' action="" class="wform">
                    {% csrf_token %}
                    {{ formw.as_p }}
                    <button type="submit" name="addwork" >Add Task</button>
                </form>
            </div>

            <div id="formpersonal">
                <form method='POST' action="" class="pform">
                    {% csrf_token %}
                    {{ formp.as_p }}
                    <button type="submit" name="addpersonal" >Add Task</button>
                </form>
            </div>

            <div id="formtravel">
                <form method='POST' action="" class="tform">
                    {% csrf_token %}
                    {{ formt.as_p }}
                    <button type="submit" name="addtravel" >Add Task</button>
                </form>
            </div>

            <div id="formshopping">
                <form method='POST' action="" class="sform">
                    {% csrf_token %}
                    {{ forms.as_p }}
                    <button type="submit" name="addshopping" >Add Task</button>
                </form>
            </div>

            <div id="formbirthday">
                <form method='POST' action="" class="bform">
                    {% csrf_token %}
                    {{ formb.as_p }}
                    <button type="submit" name="addbirthday" >Add Task</button>
                </form>
            </div>

            <div id="formcookinglist"></div>
            <div id="formcooking">
                <form method='POST' action="" class="cform">
                    {% csrf_token %}
                    {{ formc.as_p }}
                    <button type="submit" name="addcooking" >Add Task</button>
                </form>
            </div>

{% endblock %}